.intro {
 color:purple;
 text-align:right;
}

p.emoji{
  text-align:left
}
g
img{
  float: right;
  padding-:50px
}
.column{
  width: 300px;
  float: left;
  text-shadow: 300px 20px #ff0000;
  background-color: #00FFFF;
  color: blue;
  padding-left:30%;
  padding-right:30%
  font-family: 'Lemonada';
}
.topsection{
  background-color:olivedrab;
}
