p.intro {
  width: 40%;
  font-weight: 100;
  font-style:italic;
}

h2.intro {
  border-width:5px
  border-style:solid
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 75%
}

img.intro {
border: 20px;
border-color: cadetblue;
border-style:double
}